.headerContainer{
background: #fff;
margin-top: 1.5rem;
text-align: center;
/* border-bottom: .5px solid #1a260e; */
}
.logo{
    max-width: 200px;
    padding-top: 30px;
}

.menuLinks a{
text-decoration: none;
color:#425f24;
padding: 0px 10px 0 10px;
font-size: 13pt;
margin-Bottom: 1rem;

}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 500px)
{
    .headerContainer{
        background: #fff;
        margin-top: 2rem;
        text-align: center;
        }
        .logo{
            max-width: 150px;
            padding-top: 5px;
        }
        
        .menuLinks a{
        text-decoration: none;
        color:#425f24;
        padding: 0px 5px 0 5px;
        font-size: 10pt;
        margin-Bottom: 1rem;
        
        }
}
