.container{
    margin-left: 120px;
    margin-right:120px;
    color: #404040;
    padding: 50px;
}

.heading{
    color: #425f24;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 500px)
{
    .container{
        text-align: center;
        margin-left: 20px;
        margin-right:20px;
        padding: 0;
        text-align: left;
    }

    h3 {
        font-size: 13pt;
    }

    p{
        font-size: 11pt;
    }
}